<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Send safety seal</h1>

      <form [formGroup]="sendSafetySealForm" (ngSubmit)="sendSafetySeal(sendSafetySealForm.value)">

        <div class="form-group">
          <label>Select Product:</label>
          <div>
            <select name="product" formControlName="selectedProduct">
              <option *ngFor="let p of products" [ngValue]="p?.id">Product #{{p?.id}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="privateKey">Operator private key:</label>
          <input id="privateKey" type="password" class="form-control" formControlName="privateKey" [ngClass]="(!sendSafetySealForm.controls.privateKey.valid && sendSafetySealForm.controls.privateKey.dirty) ? 'is-invalid' : ''">
          <div class="invalid-feedback" *ngIf="!sendSafetySealForm.controls.privateKey.valid && sendSafetySealForm.controls.privateKey.dirty">Invalid private key.</div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!sendSafetySealForm.valid">Send Safety Seal</button>
      </form>
    </div>
  </div>
  <div class="row gap">
    <div class="col-md-12">
      <h2>Transaction life cycle</h2>
      <div><h3>Status Errors</h3> <a href="https://nemtech.github.io/api/status-errors.html">Error Description</a></div>
      <ul>
        <li *ngFor="let status of statusErrors" >
          <p>{{status.status}}</p>
        </li>
      </ul>
      <hr>
    </div>
    <div class="col-md-12">
      <h3>Unconfirmed Added</h3>
      <ul>
        <li *ngFor="let transaction of unconfirmedTransactions" >
          <p>{{transaction | formatTransaction}}}</p>
        </li>
      </ul>
      <hr>
    </div>
    <div class="col-md-12">
      <h3>Confirmed</h3>
      <ul>
        <li *ngFor="let transaction of confirmedTransactions" >
          <p>{{transaction  | formatTransaction }}}</p>
        </li>
      </ul>
      <hr>
    </div>
    <div class="col-md-12">
      <h3>Aggregate Bonded Added</h3>
      <ul>
        <li *ngFor="let transaction of aggregateBondedTransactions" >
          <p>{{transaction  | formatTransaction}}</p>
        </li>
      </ul>
      <hr>
    </div>
  </div>

</div>

