<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div [hidden]="!successMessage"class="alert alert-success" role="alert">
        <span>{{successMessage}}</span>
      </div>
      <div [hidden]="!errorMessage" class="alert alert-danger" role="alert">
        <span>{{errorMessage}}</span>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Send safety seal</h1>
      <div class="form-group">
        <label>Select Product:</label>
        <div>
          <select name="product" [(ngModel)]="selectedProduct">
            <option *ngFor="let p of products" [ngValue]="p?.id">Product #{{p?.id}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="privateKey">Operator private key:</label>
        <input type="password" class="form-control" id="privateKey" [(ngModel)]="privateKey">
      </div>
      <div class="form-group">
        <input [disabled]="(!validPrivateKey() || !selectedProduct)"
               type="button" class="btn btn-primary" value="Send Safety Seal" (click)="sendSafetySeal()">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Transaction life cycle</h2>
      <div><h3>Status Errors</h3> <a href="https://nemtech.github.io/api/websockets.html#status-errors">Error Description</a></div>
      <ul>
        <li *ngFor="let status of statusErrors" >
          <p>{{status.status}}</p>
        </li>
      </ul>
      <hr>
    </div>
    <div class="col-md-12">
      <h3>Unconfirmed Added</h3>
      <ul>
        <li *ngFor="let transaction of unconfirmedTransactions" >
          <p>{{transaction | formatTransaction}}}</p>
        </li>
      </ul>
      <hr>
    </div>
    <div class="col-md-12">
      <h3>Confirmed</h3>
      <ul>
        <li *ngFor="let transaction of confirmedTransactions" >
          <p>{{transaction  | formatTransaction }}}</p>
        </li>
      </ul>
      <hr>
    </div>
    <div class="col-md-12">
      <h3>Aggregate Bonded Added</h3>
      <ul>
        <li *ngFor="let transaction of aggregateBondedTransactions" >
          <p>{{transaction  | formatTransaction}}</p>
        </li>
      </ul>
      <hr>
    </div>
  </div>

</div>

